$borderrad: 0;

.upper{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.lower{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.left{
  float: left;
}

.right{
  float: right;
}

.small{
  color: white;
  font-weight: bold;
  font-family: 'Inconsolata';
  font-size: 40px;
  text-align: center;
  line-height: 50vh;
  height: 50vh;
  min-width: 40px;
  width: 50vh;
  border: 1px solid black;
}

.lower > .right{
  background-color: purple;
  border-top-left-radius: $borderrad;
}

.lower > .left{
  background-color: green;
  border-top-right-radius: $borderrad;
}

.upper > .right{
  background-color: blue;
  border-bottom-left-radius: $borderrad;
}

.upper > .left{
  background-color: red;
  border-bottom-right-radius: $borderrad;
}