/*$sidepadding: calc(50vh + 40px);*/
$sidepadding: 50px;

body{
  background-color: #F8FBF4
}

#main{
  box-sizing: border-box;
  padding: 100px $sidepadding 30px $sidepadding;
  margin: auto;
}

@import 'navbar/main';