/*$sidepadding: calc(50vh + 40px);*/
$sidepadding: 50px;

body{
  background-color: #F8FBF4
}

#main{
  box-sizing: border-box;
  padding: 30px $sidepadding 30px $sidepadding;
  width: calc(100vw - 100vh);
  margin: auto;
}

@import 'sidebars/main';